.block_area{
	position: relative;
	min-height: 100px;
}

.block_preview-overlay, .block_preview_label{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.block_preview_overlay{
	background: #fff;
	opacity: 0.8;
	z-index: 20;
}

.block_preview_label{
	border: 2px dashed #ff4444;
	z-index: 21;
	text-align: center;
}

.block_preview_label span{
	display: inline-block;
	background: #ff4444;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	position: relative;
	top: -2px;
}